.formControl.error input,
.formControl.error textarea
{
    border: solid red 3px;
}

.formControl.error span
{
    color: red;
} 

.formSummaryError {
    border: 3px solid red;
    padding: 5px;
    color: rgb(233, 88, 88);
}